body {
  width: 1600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bee416;
}

/*  */



img {
  height: 250px;
  width: 250px;
}


header{ 
  /* clear: both; */
  height: 150px;
  background-color: #138fd6;
  text-align: center;
}

.flexFloat{
  /* display: inline; */
}
section div {
  float: left;
  
}

div {
  margin-top: 45px;
  padding: 15px;
}

button{ 
  padding: 20px;
  margin-bottom: 15px;
}